* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

div[disabled] {
    pointer-events: none;
    opacity: 0.7;
}
