.game-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 95%;
}

.game-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.dice-container {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
