* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "MaldiniBold";
    letter-spacing: 0.7rem;
}

.game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    font-size: 1.6rem;
}
